<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>ID Card</title>
</head>
<body>
<div th:each="student : ${students}">
    <div class="card-body">
        <div class="back-logo">
            <img alt="BRAC University Logo" src="logo.svg" th:src="@{logo.svg}"/>
        </div>
        <div class="brand-band">
            <img src="brandBandUg.svg" th:src="@{|brandBand${student['ribbonColor']}.svg|}" alt="Brand band"/>
        </div>
        <div class="back-details">
            Please wear this ID card
            <br>
            at all times in a visible manner
            <br>
            when on the campus.
            <br>
            This card is non-transferable.
            <br>
            If found, kindly return to:
            <br>
            <br>
            BRAC University
            <br>
            Kha 224, Pragati Sarani,
            <br>
            Merul Badda, Dhaka 1212,
            <br>
            Bangladesh
            <br>
            Tel : +88 09638464646
            <br>
            Email: idcard@bracu.ac.bd
        </div>
        <div class="barcode" th:if="${student['barcode'] != null}">
            <img src="" th:src="${student['barcode']}" alt="barcode"/>
        </div>
        <div class="back-footer">
            <img class="mirror" src="footer.svg" th:src="@{footer.svg}" alt="Footer"/>
        </div>
    </div>

    <div class="id-card">
        <div class="header">
            <div class="logo">
                <img alt="BRAC University Logo" src="logo.svg" th:src="@{logo.svg}"/>
            </div>
            <div class="photo">
                <img alt="Student Photo"
                     th:src="${#strings.isEmpty(student['photoUrl']) ? 'https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png' : student['photoUrl']}"/>
            </div>
        </div>
        <div class="brand-band">
            <img class="mirror" src="brandBandUg.svg" th:src="@{|brandBand${student['ribbonColor']}.svg|}" alt="Brand band"/>
        </div>
        <div class="name-block">
            <h1 th:text="${student['fullName']}">Full Name</h1>
        </div>
        <div class="name-block-details">
            <h2 th:if="${academicDegrees != null and #lists.contains(academicDegrees, student['academicType'])}"
                th:text="'STUDENT'">STUDENT</h2>
            <h2 th:text="${student['label']}">Label</h2>
        </div>
        <div class="details">
            <table>
                <tr>
                    <th class="first">ID No.</th>
                    <td class="middle">:</td>
                    <td class="text-right" th:text="${student['studentId']}">00000000</td>
                </tr>
                <tr th:if="${student['validityDate'] != null}">
                    <th>Validity</th>
                    <td>:</td>
                    <td class="text-right" th:text="${student['validityDate']}">01 Jan 2030</td>
                </tr>
                <tr th:if="${student['bloodType'] != null}">
                    <th>Blood Group</th>
                    <td>:</td>
                    <td class="text-right" th:text="${student['bloodType']}">O+</td>
                </tr>
            </table>
        </div>
        <div class="footer">
            <img src="footer.svg" th:src="@{footer.svg}" alt="Footer"/>
        </div>
    </div>
</div>
</body>
</html>