@media print {
    @page {
        size: A4 landscape;
        margin: 12mm 10mm 12mm 10mm;
    }
}

@font-face {
    font-family: English111PrestoBTRegular;
    src: url(English111PrestoBTRegular.ttf);
}

@font-face {
    font-family: EngrvrsOldEng Bd BT;
    src: url(EngrvrsOldEng-Bd-BT-Bold.ttf);
}

@font-face {
    font-family: Courier New;
    src: url(courier-new.ttf);
}

@font-face {
    font-family: Times New Roman;
    src: url(times.ttf);
}


body {
    font-family: Times New Roman, Arial, sans-serif;
    background: transparent;
}

.container {
    text-align: center;
    width: 98%;
    margin: 0 auto;
}

.header {
    width: 100%;
}


.content {
    width: 100%;
    padding: 5px;
}


.clearfix {
    clear: both;
}

.page-break-always {
    page-break-before: always;
}

.width-25 {
    width: 25%;
}
.width-15 {
    width: 15%;
}
.width-30 {
    width: 30%;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.font-times-new{
    font-family: "Times New Roman";
}
.font-courier-new{
    font-family: "Courier New";
}
.font-engravrsold{
    font-family: "EngrvrsOldEng Bd BT";
}


.mt-120{
    margin-top: 100px;
}

.mt-100{
    margin-top: 100px;
}

.mt-125{
    margin-top: 125px;
}

.mt-0{
    margin-top: 0;
}

.mt-5{
    margin-top: 5px;
}


.font-size-18{
    font-size: 18pt;
}

.font-size-22{
    font-size: 22pt;
}

.font-size-14{
    font-size: 14pt;
}

.mt-25{
    margin-top: 25px;
}
.mt-28{
    margin-top: 28px;
}

.line-height-44{
    line-height: 44px;
}
.mt--10{
    margin-top: -10px;
}

.font-bold{
    font-weight: bold;
}