<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./provisional-certificate.css" th:href="@{provisional-certificate.css}">
</head>

<body>
<div th:each="certificate : ${certificates}" class="container page-break-always">
    <div class="content">
        <div class="header pl-35 box-sizing-border-box">
            <div class="width-50 float-left text-left font-times-new font-size-14 font-bold">
                <p class="mt-0">
                    ID # <span th:text="${certificate['studentId']}">000000</span><br />
                    UGC ID # <span th:text="${certificate['ugcId']}">UGC-000000</span>
                </p>
            </div>

            <div class="float-right width-15 text-right mr--15 mt--20">
                <img class="mt-15 float-right"
                     src="placeholder-qr.png"
                     th:src="${#strings.isEmpty(certificate['qrImage']) ? 'https://dummyimage.com/120x120/cccccc/000000.png&text=QR' : certificate['qrImage']}"
                     alt="QR">
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="body-content">
            <p class="font-prestobt font-size-26 mt-315 font-bold"
               th:text="${certificate['studentName']}">Student Name</p>

            <p class="font-size-16 font-times-new line-height-44 mt-55">
                is declared to have fulfilled the prescribed requirements for the degree of
            </p>

            <p class="font-prestobt font-size-24 font-bold mt-80"
               th:text="${certificate['academicDegree']}">Bachelor of Science</p>
            <p class="font-size-16 font-times-new line-height-44 mt-80">
                <span th:text="${certificate['pronoun']}">His</span> Cumulative Grade Point Average is
                <span class="font-bold font-size-18" th:text="${certificate['cgpa']}">4.00</span>
                on a Scale of 4.00.
            </p>
        </div>

        <div class="footer mt-70 pl-35 box-sizing-border-box">
            <div class="width-40 float-left text-left">
                <p class="mt-30 mb-0"> Dated, Dhaka, Bangladesh </p>
                     <p class="mt-10"
                         th:text="${#strings.isEmpty(certificate['generateDate']) ? '' : 'The ' + certificate['generateDate']}">The 1 January 2025</p>
            </div>
            <div class="float-right width-40 text-right">
                <p class="m-0">&nbsp;</p>
                <p class="float-right border-dashed-top px-10 m-0" style="margin-top: 5px;">Controller of Examinations </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
